
<footer id="footer" [class]="getClass()">
  <div class="container-80">
      <div class="footer-grid">
          <div [class]="getBoxClass()">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/admin">Admin</a></li>
              <li><a routerLink="/register">Register</a></li>
              <li><a routerLink="/login">Login</a></li>
            </ul>
          </div>
          <div [class]="getBoxClass()">
              <ul>
                <li>Made by Shak Zaken</li>
                <li>Email : shakzaken@gmail.com</li>
                <li>Website Address: http://shakapps.com</li> 
              </ul>
            </div>
        </div>
  </div>
</footer>
