


<div class="header-container">
  <div class="icon-container">
    <i class="fas fa-users li-icon icon users-icon"></i>
    <p class="counter">{{users}}</p>
    <p>Users</p>
  </div>
  <div class="icon-container">
    <i class="fas fa-chart-pie li-icon icon categories-icon"></i>
    <p class="counter">{{categories}}</p>
    <p>Categories</p>
  </div>
  <div class="icon-container">
    <i class="fas fa-book li-icon icon books-icon"></i>
    <p class="counter">{{books}}</p>
    <p>Books</p>
  </div>
  <div class="icon-container">
    <i class="fab fa-cc-amazon-pay li-icon icon orders-icon"></i>
    <p class="counter">{{orders}}</p>
    <p>Orders</p>
  </div>
</div>