

<aside class="sidebar">
  <ul class="main-ul">
    <i class="fas fa-chess-queen admin-icon"></i><br>
    Hello Admin 
    
  </ul>
  <hr>
  <ul>
    <li class="list-item">
       <i class="fas fa-users li-icon"></i>
       <a routerLink="/admin/users-list">Users</a> 
    </li>
    <li class="list-item">
        <i class="fas fa-chart-pie li-icon"></i>
        <a routerLink="/admin/categories-list">Categories</a> 
    </li>
    <li class="list-item">
        <i class="fas fa-book li-icon"></i>
        <a routerLink="/admin/books-list">Books</a> 
    </li>
    <li class="list-item">
        <i class="fab fa-cc-amazon-pay li-icon"></i>
        <a routerLink="/admin/orders-list">Orders</a> 
    </li>
  </ul>
</aside>

