
<section class="orders-section">
  <div class="container-orders">
    <div class="header-container">
        <i class="fab fa-cc-visa orders-icon"></i>
        <h3 class="orders-header"> My orders</h3>
    </div>
     <hr class="orders-hr"> 
      <br>

     <ul class="orders-list">
       <li *ngFor="let order of orders" class="orders-row">
        <div>
           <i class="fas fa-check bag-icon"></i>
        </div>
        <ul class="items-list">
          <li *ngFor ="let item of order.items">
            {{item.book.name}} &nbsp;<i class="fas fa-times fa-xs"></i>&nbsp; {{item.quantity}}
          </li>
        </ul>
        <ul class="calc-list">
           <li *ngFor ="let item of order.items">
              {{item.book.price}}&nbsp;<i class="fas fa-times fa-xs"></i>&nbsp;{{item.quantity}} &nbsp;=&nbsp; ${{item.book.price*item.quantity}}
           </li>
         </ul>
        <p class="list-price">${{calculate(order.items)}}</p>
        <div class="delete-icon" (click)="deleteOrder(order._id)">
           x
        </div>
      </li> 
     </ul>
  </div>
  
  
</section>

